/* src/themes.css 
.theme1 {
    background-image: url('./assets/images/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .theme2 {
    background-image: url('./assets/images/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }*/
  

  